.env 
.next 
node_modules/
.git
.gitignore


# Ignore editor-specific files and directories
.vscode/
.idea/

# Ignore version control system files
.git/
.gitignore

# Ignore temporary files and directories
*.log
*.tmp
*.swp

# Ignore build artifacts
node_modules/
dist/
build/
.next/

# Ignore files and directories specific to your application
config/
.env*



